node_modules


wallet.json
wallets

src/libs/blueprints/*
!src/libs/blueprints/apm.lua

.vscode
.idea/

dist

.DS_Store

.venv
__pycache__

chroma
chatGroundEvaluations_1.json
chatGroundEvaluations_10.json
chatGroundEvaluations_11.json
chatGroundEvaluations_12.json
chatGroundEvaluations_13.json
chatGroundEvaluations_2.json
chatGroundEvaluations_3.json
chatGroundEvaluations_4.json
chatGroundEvaluations_5.json
chatGroundEvaluations_6.json
chatGroundEvaluations_7.json
chatGroundEvaluations_8.json
chatGroundEvaluations_9.json
evaluations_1.json
evaluations_10.json
evaluations_11.json
evaluations_12.json
evaluations_13.json
evaluations_14.json
evaluations_15.json
evaluations_16.json
evaluations_17.json
evaluations_18.json
evaluations_19.json
evaluations_2.json
evaluations_20.json
evaluations_21.json
evaluations_22.json
evaluations_23.json
evaluations_24.json
evaluations_25.json
evaluations_26.json
evaluations_27.json
evaluations_28.json
evaluations_29.json
evaluations_3.json
evaluations_30.json
evaluations_31.json
evaluations_32.json
evaluations_33.json
evaluations_34.json
evaluations_35.json
evaluations_36.json
evaluations_37.json
evaluations_38.json
evaluations_39.json
evaluations_4.json
evaluations_5.json
evaluations_6.json
evaluations_7.json
evaluations_8.json
evaluations_9.json
participants_1.json
participants_2.json
sent_files_config.json
